{
	"singleAttributePerLine": true,
	"importOrder": [
		"^react(.*)",
		"use",
		"^components/(.*)$",
		"<THIRD_PARTY_MODULES>",
		"@/(.*)",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"semi": false,
	"arrowParens": "avoid",
	"useTabs": true
}
